body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-80px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:80px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u4963 {
  position:absolute;
  left:483px;
  top:815px;
  width:29px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u4964 {
  position:absolute;
  left:0px;
  top:32px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u4965 {
  position:absolute;
  left:80px;
  top:9px;
  width:433px;
  height:62px;
}
#u4966 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u4967 {
  position:absolute;
  left:80px;
  top:71px;
  width:30px;
  height:803px;
}
#u4968 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u4969 {
  position:absolute;
  left:110px;
  top:815px;
  width:373px;
  height:59px;
}
#u4970 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u4971 {
  position:absolute;
  left:483px;
  top:71px;
  width:30px;
  height:803px;
}
#u4972 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:44px;
}
#u4974 {
  position:absolute;
  left:110px;
  top:34px;
  width:374px;
  height:44px;
}
#u4975 {
  position:absolute;
  left:2px;
  top:14px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4976 {
  position:absolute;
  left:120px;
  top:96px;
  width:29px;
  height:20px;
}
#u4977 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4978 {
  position:absolute;
  left:275px;
  top:96px;
  width:29px;
  height:20px;
}
#u4979 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:35px;
}
#u4980 {
  position:absolute;
  left:126px;
  top:134px;
  width:41px;
  height:35px;
}
#u4981 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4982 {
  position:absolute;
  left:187px;
  top:142px;
  width:29px;
  height:20px;
}
#u4983 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u4985 {
  position:absolute;
  left:440px;
  top:142px;
  width:15px;
  height:20px;
}
#u4986 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:11px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4987 {
  position:absolute;
  left:110px;
  top:179px;
  width:373px;
  height:11px;
}
#u4988 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4990 {
  position:absolute;
  left:126px;
  top:205px;
  width:29px;
  height:20px;
}
#u4991 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u4993 {
  position:absolute;
  left:440px;
  top:205px;
  width:15px;
  height:20px;
}
#u4994 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4995 {
  position:absolute;
  left:405px;
  top:205px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4996 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4998 {
  position:absolute;
  left:126px;
  top:235px;
  width:85px;
  height:20px;
}
#u4999 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u5001 {
  position:absolute;
  left:440px;
  top:235px;
  width:15px;
  height:20px;
}
#u5002 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5005 {
  position:absolute;
  left:125px;
  top:439px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5006 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5009 {
  position:absolute;
  left:401px;
  top:436px;
  width:52px;
  height:26px;
}
#u5010 {
  position:absolute;
  left:2px;
  top:5px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u5011 {
  position:absolute;
  left:401px;
  top:436px;
  width:27px;
  height:26px;
}
#u5012 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5013 {
  position:absolute;
  left:426px;
  top:96px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5014 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5016 {
  position:absolute;
  left:127px;
  top:390px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5017 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u5019 {
  position:absolute;
  left:441px;
  top:390px;
  width:15px;
  height:20px;
}
#u5020 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5023 {
  position:absolute;
  left:125px;
  top:524px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5024 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5025 {
  position:absolute;
  left:336px;
  top:524px;
  width:112px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5026 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u5027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5028 {
  position:absolute;
  left:127px;
  top:589px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5029 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5030 {
  position:absolute;
  left:389px;
  top:589px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5031 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5033 {
  position:absolute;
  left:127px;
  top:493px;
  width:62px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5034 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u5035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5035 {
  position:absolute;
  left:315px;
  top:493px;
  width:144px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5036 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u5037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5038 {
  position:absolute;
  left:127px;
  top:556px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5039 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5040 {
  position:absolute;
  left:411px;
  top:556px;
  width:37px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5041 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:11px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5042 {
  position:absolute;
  left:110px;
  top:472px;
  width:373px;
  height:11px;
}
#u5043 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5045 {
  position:absolute;
  left:125px;
  top:343px;
  width:76px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5046 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u5048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u5048 {
  position:absolute;
  left:439px;
  top:343px;
  width:15px;
  height:20px;
}
#u5049 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:11px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5050 {
  position:absolute;
  left:110px;
  top:316px;
  width:373px;
  height:11px;
}
#u5051 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5053 {
  position:absolute;
  left:126px;
  top:263px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5054 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u5056 {
  position:absolute;
  left:440px;
  top:263px;
  width:15px;
  height:20px;
}
#u5057 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5059 {
  position:absolute;
  left:126px;
  top:292px;
  width:43px;
  height:20px;
}
#u5060 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u5062 {
  position:absolute;
  left:440px;
  top:292px;
  width:15px;
  height:20px;
}
#u5063 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:11px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5064 {
  position:absolute;
  left:110px;
  top:415px;
  width:373px;
  height:11px;
}
#u5065 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:11px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5066 {
  position:absolute;
  left:110px;
  top:369px;
  width:373px;
  height:11px;
}
#u5067 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
